<div class="container">
    <div class=""></div>
    <div class="title-block">
      <h1 class="title">Liste des goodies</h1>
      <button mat-raised-button routerLink="/add-goodie" color="primary">
        <mat-icon>add</mat-icon> Ajouter
      </button>
    </div>

    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px">
        @for (goodie of goodies; track goodie.idGoodie) {
            <mat-grid-tile>
                <app-goodie [goodie]="goodie"></app-goodie>
            </mat-grid-tile>
        }

    </mat-grid-list>
</div>
