<div class="container">
    <div class="title-block"> 
        <h1 class="title">Liste des événements</h1>
        <mat-button routerLink="/add-event" color="primary">+</mat-button>
    </div>
   

    <mat-grid-list [cols]="gridCols" rowHeight="1:1" gutterSize="20px">
        <mat-grid-tile *ngFor="let event of events; trackBy: trackEvent" class="grid-item">
            <app-evenement [event]="event"></app-evenement>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="text-center">
        <button mat-raised-button color="primary" (click)="loadMore()">Charger plus</button>
    </div>
</div>