<div class="container">
  <h1 class="title">{{ title }}</h1>

  <div class="section">
    <h2>Prochains Événements</h2>
    <div class="events-list">
      @for (event of prochainsEvents; track event.idEvenement){
        <app-evenement [event]="event"></app-evenement>
      }
    </div>
  </div>

  <div class="section">
    <h2>Dernières Réservations</h2>
    <div class="reservations-list">
      <div class="reservation-card" *ngFor="let reservation of dernieresReservations">
        <div class="card-header">
          <h3>{{ reservation.evenement.nom }}</h3>
          <p>{{ reservation.dateReservation | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div class="card-content">
          <p><mat-icon>person</mat-icon> {{ reservation.etudiant.nom }}</p>
          <p><mat-icon>event</mat-icon> {{ reservation.evenement.nom }}</p>
          <p><mat-icon>calendar_today</mat-icon> {{ reservation.dateReservation | date: 'fullDate' }}</p>
          <p [ngClass]="'status-' + reservation.statut.toLowerCase()">
            <mat-icon>circle</mat-icon> {{ reservation.statut }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>Goodies en Stock Limité</h2>
    <div class="goodies-list">
      @for (goodie of stocksGoodies; track goodie.idGoodie) {
        <app-goodie [goodie]="goodie"></app-goodie>
      }
    </div>
  </div>
</div>
