<mat-toolbar color="primary">
    <span class="app-name">BDEGoodies</span>

    <span class="spacer"></span>

    <div class="nav-buttons">
        <button mat-button routerLink="/">Accueil</button>
        <button mat-button routerLink="/events">Évènements</button>
        <button mat-button routerLink="/students">Étudiants</button>
        <button mat-button routerLink="/goodies">Goodies</button>
        <button mat-button routerLink="/reservations">Réservations</button>
    </div>
</mat-toolbar>