/* You can add global styles to this file, and also import other style files */
/* Correction du fond transparent des options */
.mat-mdc-select-panel {
    background: white !important;

    .mat-mdc-option {
        background: white !important;

        &:hover {
            background: rgba(0, 0, 0, 0.04) !important;
        }

        &.mat-mdc-option-active {
            background: rgba(0, 0, 0, 0.04) !important;
        }
    }
}

.title {
    color: #3f51b5;
}
mat-button{
    background-color: #3f51b5;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    align-content: center;
    padding: 10px 10px;

    &:hover {
        background-color: #303f9f;
    }
}